.back-g{
    background-color: #890a07;
}
main{
    background-color: #AC5351;
}
.back-img{
    background-color:  #890a07;
}
footer{
    background-color: #890a07;
}
body{
    background-color: #AC5351;
}
